.klent{
    margin-bottom: 120px;

}
.klent__continer{
    .phone{
        display: none;
    }
    background-color: #0B7572;
    padding: 85px 66px 85px 81px;
    display: flex;
    flex-direction: row;
    
    .klentt{
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
    font-family: 'Exo 2';
    color: #FFFFFF;
    }
    .pdv{
        background-color: #FFFFFF;
        max-width: 652px;
        border-radius: 8px;
        padding: 28px 41px 37px 41px;

        .info{
            
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 194px;
            border-bottom: 1px solid #D7D7DD;
            padding-bottom: 35px;
            p{
                font-weight: 400;
                font-size: 11px;
                line-height: 16px;
                font-family: 'PT Sans';

            }
            
        }
        .foto{
    background-color: #0B7572;
    display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 32px;
            
            b{
                font-family: 'Exo 2';
                font-weight: 700;
                font-size: 14px;
                line-height: 24px;
                padding-left: 38px;
                letter-spacing: 1px;
                padding-right: 38px;
                padding-top: 10px;
                padding-bottom: 10px;
                border-right: 1px solid rgba(255, 255, 255, 0.2);
                color: #FFFFFF;

            }
        }
        table{
            border-collapse: collapse;
            background-color: #F9F9FB;
            td{
                border: 1px solid #d5d5d9;
                padding: 5px;
                p{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    color: #6B6B6C;
                }
                b{
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 18px;
                    color: #363738;
                }
            }
        }

    }
}
@media (max-width:770px) {
    .klent__continer{
        .phone{
            display: none;
        }
        background-color: #0B7572;
        padding: 64px 42px 64px 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .klentt{
            font-weight: 700;
            font-size: 48px;
            line-height: 60px;
        font-family: 'Exo 2';
        color: #FFFFFF;
        max-width: 328px;
        }
        

}
}
@media (max-width:375px) {
    .klent__continer{
          padding: 32px 15px;
          display: flex;
          flex-direction: column;
          gap: 40px;
          .klentt{
            font-weight: 600;
            font-size: 28px;
            line-height: 35px;
            font-family: 'Exo 2';
            color: #FFFFFF;
            max-width: 345px;
        }
        .pdv{
            display: none;
        }
        .phone{
            display: block;
            background-color: #FFFFFF;
            padding: 24px 16px;
            border-radius: 4px;
            img{
                max-width: 79px;
                max-height: 43px;
                padding-bottom: 0px;
                margin-bottom: 20px;
            }
            h4{
                font-family: 'Exo 2';
                font-weight: 600;
                font-size: 15px;
                line-height: 22px;
                color: #FFFFFF;
                background-color: #0B7572;
                padding: 5px 15px;
                margin-bottom: 15px;
            }
            .motorimg{
                
                padding-bottom: 10px;
                border-bottom: 1px solid #D7D7DD;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 16px;
                img{
                    padding: 0px;
                    margin-bottom: 0px;
                }
                p{  
                    max-width: 169px;
                    font-weight: 400;
                    font-family: 'PT Sans';
                    font-size: 14px;
                    line-height: 18px;
                    color: #6B6B6C;
                }
            }
            .zavod{
                padding-bottom: 10px;
                border-bottom: 1px solid #D7D7DD;
                b{
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 19px;
                    color: #363738;
                }
            }

        }
    }

}