.nam{
   
    margin-top: 67px;
}
.nam__continer{
    .man{
        display: none;
    }
    background-image: url(../images/man.png);
    background-size: 1240px 445px;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    padding-top: 0px;
    img{
        width: 769px;
        height: 451px;
      
       
    }
    h2{
        position: absolute;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 48px;
        line-height: 60px;
        top: 178px;
        left: 90px;
        max-width: 392px;
    }
}
@media (max-width:1000px){
    .nam{
   
        margin-top: 97px;
    }
    .nam__continer{
      
        background-repeat: no-repeat;
        background-size: 729px 383px;
        background-position: right;
        position: relative;
        padding-top: 0px;
        .man{
            display: block;
        }
        .bagraund{display: none;}
        img{
            width: 600px;
            height: 385px;
          
           
        }
        h2{
            position: none;
            color: #FFFFFf;
            font-weight: 600;
            font-size: 44px;
            line-height: 55px;
            top: 112px;
            left: 85px;
            max-width: 288px;
        }
    }
}
@media (max-width:770px) {
    .nam{
   
        margin-top: 97px;
    }
    .nam__continer{
      
        background-repeat: no-repeat;
        background-size: 729px 383px;
        background-position: right;
        position: relative;
        padding-top: 0px;
        .man{
            display: block;
        }
        .bagraund{display: none;}
        img{
            width: 600px;
            height: 385px;
          
           
        }
        h2{
            position: none;
            color: #FFFFFf;
            font-weight: 600;
            font-size: 44px;
            line-height: 55px;
            top: 112px;
            left: 85px;
            max-width: 288px;
        }
    }
}
@media (max-width:594px){
    .nam__continer{
       
        
        background-repeat: no-repeat;
}}
@media (max-width:375px) {
    .nam{
   
        margin-top: 57px;
    }
    .nam__continer{
        background-image: none;
       
        img{
           display: none;
         
           
        }
        h2{
           
            color: #363738;
            font-weight: 600;
            font-size: 28px;
            line-height: 35px;
            top: 0px;
            left: 0px;
            max-width: 345px;
        }
    }
}



